<!-- <div class="header bg-gradient-dark opacity-1 pb-8 pt-5 pt-md-8">
  </div>
  <div class="text">
  <span aria-expanded="true" style="font-size: 30px; color:rgb(19, 53, 204);" >{{title | uppercase}}</span></div>
  <mat-tab-group >
     <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab">
       <div class="cardGroup">
         <mat-card class="card" *ngFor="let card of roleCards[index] let i=index" >
           <mat-card-header>
             <div mat-card-avatar class="example-header-image"></div>
             <mat-card-title class="matCardAlign">{{card.name | uppercase}}</mat-card-title>
             <mat-card-subtitle class="matCardAlign">{{card.email}}</mat-card-subtitle>
           </mat-card-header>
           <mat-card-content>
             <p>
               {{card.skills}}
             </p>
           </mat-card-content>
           <mat-card-actions>
       <button type="button" class="btn btn-light" (click)="clickAccept(card,index,i)">{{card.acceptStatus}}</button>
       <button type="button"  mat-button class="btn btn-light" (click)="clickReject(card,index,i)" >{{card.rejectStatus}}</button>
           </mat-card-actions>
         </mat-card>
       </div>
     </mat-tab>
   </mat-tab-group>
   <div class="doneButton">
     <button type="button" class="btn btn-info btn-lg btn-block" (click)="sendAutogenTeam()">Confirm Selected Team</button>
   </div> -->

​
​
​
    <div class="header pb- pt-3 pt-md-8">
    </div>
  <mat-tab-group (selectedTabChange) = "myClick($event)">
  <mat-tab class="mattab" (selectedTabChange) = "myClick($event)" label="{{tab[0].role.role}}" *ngFor="let tab of auto let index=index">
          <div class="container">

              <div class="row">
             <br>
      <mat-card class="col-md-4" *ngFor = "let sp of tab ;let i=index" class="example-card">
        <br>
​
          <mat-card-header>
           <b><h3>
              <div class="img">
                  <p><img  src="../../../assets/img/theme/profile-green.png" alt="card image"></p>
              </div>
            <mat-card-title style="text-align: center">{{sp.name}}</mat-card-title>
            <mat-card-subtitle style="text-align: center">{{sp.currentLocation}}</mat-card-subtitle>
           </h3></b>
          </mat-card-header>

          <mat-card-content>

            <p> <strong>EmailID   :</strong> {{sp.email}} </p>

            <p><strong>Charge/Hr   :</strong>  {{sp.chargePerHour}}</p>

             <p><strong>Domain   :</strong>  {{sp.role.role}}</p>

              <p><strong>Skills   :</strong>
              <span >
              {{sp.role.skills}}
              </span> </p>

          </mat-card-content>

          <br>
          <mat-card-actions class="text-center">
          <button mat-fab [style.background-color]="toggle ? 'green' : 'red'">
            <mat-icon class="material-icons" (click)="clickAccept(sp,index,i)" mat-button>{{checkStatus(sp)}}</mat-icon>
          </button>
          </mat-card-actions>
        </mat-card>
      </div>
</div>
​
  </mat-tab>
​
</mat-tab-group>
​
<div class="wrapper">
    <button style="font-size: 18px; padding-top:8px; padding-bottom:8px; border-radius:12px" (click)="sendAutogenTeam()" background-color="black" mat-button>CONFIRM YOUR TEAM</button>
</div>
