<app-navbar></app-navbar>
<main>
  <div class="position-relative">
    <section class="section section-lg section-hero section-shaped">
      <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>


<!-- search bar -->


     <!-- <input  id ="search" class="form-control mr-sm-2" type="search" placeholder="Search for Ideas" aria-label="Search">
     <button mdbBtn type="button" class="btn btn-info font-weight-bold" outline="true" mdbWavesEffect type="submit">
       Search</button>
       -->

<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
<form action="/hms/accommodations" method="GET"> 
  <div class="row">
    <div class="col-xs-6 col-md-4">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" id="txtSearch"/>
        <div class="input-group-btn">
          <button class="btn btn-primary" type="submit">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</form> -->

<!-- search bar end -->


      <div class="container shape-container d-flex align-items-center py-lg">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
              <img src="./assets/img/brand/angualar.png" style="width: 200px;" class="img-fluid">
              <p class="lead text-white">Come and work on your Idea </p>
              <div class="btn-wrapper mt-5">

                
                  <span class="btn-inner--icon"><i class="fas fa-lightbulb"></i></span>
                  <span class="btn-inner--text">
                    <span class="text-warning">Post an Idea</span></span>
                
              </div>
              <div class="mt-5">
                <small class="text-white font-weight-bold mb-0 mr-2"></small>
                <!-- <img src="./assets/img/brand/" style="height: 28px;"> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
          </svg>
      </div>
    </section>
  </div>
  <app-sections></app-sections>
</main>
<app-footer></app-footer>
