.skills{
  padding-left:164px;
  
}
.experience{
  padding-left:50px;
}

.roleform{
  width:80%;
}
.projectskills{
  width:80%;
}
.projectexperience{
  width:80%;
}
@media screen and (max-width: 600px){
  .roleform{
    // width:150%;
    // padding-left: 15px;
  }
}