<div class="header bg-cyan  pb-8 pt-5 pt-md-8">
</div>
<div class="container">
    <!-- <div class="example-button-row"> -->
        <!-- <button mat-button color="primary">Chat</button>
        <button mat-button color="accent">Update Idea</button>
        <button mat-button color="warn">Delete</button> -->
        <!-- <input type="text" placeholder="Search Service Provider"> -->
​
        <!-- <form class="form-inline md-form mr-auto mb-4">
                <input class="form-control mr-sm-2" type="text" placeholder="Search Servie Provider" aria-label="Search" #mysearch>
                <button class="btn btn-outline-warning btn-rounded btn-sm my-0" [routerLink]="['searchsp']" routerLinkActive="router-link-active" (click)="onSearch(mysearch.value)">Search</button>
              </form>
    </div> -->
    <section>
    <mat-card class="profile-card">
        <mat-card-header>
          <mat-card-title id="profile-card-title-id">Title : {{title}}</mat-card-title>
        </mat-card-header>
​
        <mat-card-content>
          <p>
              Description : {{description}}
          </p>
        </mat-card-content>
​
      </mat-card>
​
​
<!--
      <section>
        <div class="example-container" >
            <h4><span>Idea Title </span> : {{title}}</h4>
            <h4> <span> Description </span> : {{description}} </h4> -->
​
​
         <!-- <mat-form-field>
                <input matInput  placeholder="Project Title" />
            </mat-form-field>
             <mat-form-field>
                <textarea matInput placeholder="Project Description"></textarea>
            </mat-form-field>  -->
        <!-- </div>
        <div class="example-button-row">
           <form class="form-inline md-form mr-auto mb-4">
                <input class="form-control mr-sm-2" type="text" placeholder="Search Servie Provider" aria-label="Search" #mysearch>
                <button class="btn btn-outline-warning btn-rounded btn-sm my-0" [routerLink]="['searchsp']" routerLinkActive="router-link-active" (click)="onSearch(mysearch.value)">Search</button>
              </form>
         </div>
​
        <h4>Selected Team :</h4>
    </section> -->
​
    <!-- <div class="example-button-row"> -->
        <form class="form-inline md-form mr-auto mb-2">
             <input class="form-control mr-sm-3" style="width:440px ;border:1.5px solid #037971;" type="text" placeholder="Search for Service Provider" aria-label="Search" #mysearch>
             <button class="btn btn-outline-warning btn-rounded btn-sm my-0" [routerLink]="['searchsp']" routerLinkActive="router-link-active" (click)="onSearch(mysearch.value)">Search</button>
         </form>
      <!-- </div> -->
​
     <h4>Selected Team :</h4>
​
    </section>
    <div class="cards row">
        <mat-card class="example-card " *ngFor="let abc of selectedTeam let index=index" >
            <mat-card-header >
                    <div class="img">
                            <p><img  src="../../../assets/img/theme/profile-green.png" alt="card image"></p>
                    </div>
                 <mat-card-title >{{abc.name}}</mat-card-title>
                <mat-card-subtitle>Mobile : {{ abc.mobileNo }}</mat-card-subtitle>
                <mat-card-subtitle>EmailId : {{ abc.email | lowercase }}</mat-card-subtitle>
                <mat-card-subtitle>Role : {{abc.role.role}}</mat-card-subtitle>
                <mat-card-subtitle>Charge : {{abc.chargePerHour}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
​
                </p>
            </mat-card-content>
            <button  mat-button color="warn"  (click)="removeCard(abc.email,index)">Remove</button>
        </mat-card>
    </div>
    <br />
    <h4>Applied Team :</h4>
    <div class="cards row" >
             <mat-card class="example-card" *ngFor = "let abc of appliedTeam">
            <mat-card-header>
                    <div class="img">
                            <p><img  src="../../../assets/img/theme/profile-green.png" alt="card image"></p>
                    </div>
                <mat-card-title>{{abc.name}}</mat-card-title>
                <mat-card-subtitle>Mobile : {{abc.mobileNo}}</mat-card-subtitle>
                <mat-card-subtitle>EmailId : {{abc.email | lowercase}}</mat-card-subtitle>
                <mat-card-subtitle>Role : {{abc.role.skills}}</mat-card-subtitle>
                <mat-card-subtitle>Charge : {{abc.chargePerHour}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                </p>
            </mat-card-content>
            <button type="button" (click)="save(abc.email,abc.title)" color="Success">Accept</button>
            <button type="button" (click)="reject(abc.email,abc.title)" color="Success">Reject</button>
        </mat-card>
     </div>
     <br>
     <h4> Invited Team :</h4>
     <div class="cards row" >
        <mat-card class="example-card" *ngFor = "let abc of invitedTeam">
            <mat-card-header>
                    <div class="img">
                            <p><img  src="../../../assets/img/theme/profile-green.png" alt="card image"></p>
                    </div>
                <mat-card-title>{{abc.name}}</mat-card-title>
                <mat-card-subtitle>Email Id : {{abc.email | lowercase}}</mat-card-subtitle>
                <!-- <mat-card-subtitle><strong>Mobile : </strong>{{abc.mobileNo}}</mat-card-subtitle> -->
                <mat-card-subtitle><strong>Mobile : </strong>9876543211</mat-card-subtitle>
                <!-- <mat-card-subtitle>Email Id : {{abc.email | lowercase}}</mat-card-subtitle> -->
                <mat-card-subtitle>Role : {{abc.role.role}}</mat-card-subtitle>
                <mat-card-subtitle>Charge : {{abc.chargePerHour}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                </p>
            </mat-card-content>
            <button mat-button type="button"  color="warn">Cancel Invite</button>
        </mat-card>
     </div>
​
</div>
