.navbar{
    background-color:#037971;
}
.ihnavbar a{
    font-size: 22px;
    color: white;
}
.ihnavbar i{
    font-size: 22px;
}
.ihnav a h5{
    padding-top: 10px;
    color: white;
}
.ihnav i {
    font-size: 20px;
}