<div class="back">
    <div class="header opacity-8 pb-8 pt-5 pt-md-8"></div>
</div>
<div class="container-fluid">
    <div class="row mt-9">
        <div class="col-xl-11 mb-8 mb-xl-5">
            <div class="">
                <h2 class=" mb-3 align-items-center">
                    <span>Recommended Ideas</span>
                </h2>
                <div class="col-sm-12">
                    <div *ngFor="let x of recommendCards; let index = index" class="col-sm-4">
                        <p>{{ x?.title }}</p>
                        <button (click)="clicked(index)" class="btn btn-info btn-lg" data-target="#myModal" data-toggle="modal" type="button">
                            view
                        </button>
                        <!-- <p>description</p> -->
                    </div>
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button class="close" data-dismiss="modal" type="button">
                                        &times;
                                    </button>
                                    <h4 class="modal-title">
                                        {{ recommendCards[cardNumber]?.title }}
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <p>{{ recommendCards[cardNumber]?.description }}</p>
                                </div>
                                <div class="modal-footer">
                                    <button (click)="apply(cardNumber)" class="btn btn-default" data-dismiss="modal" type="button">
                                        Apply
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
