.back
{
  background-color: #17BEBB;
}
.idea-card {
  max-width: 400px;
  margin-left: 5%;
  margin-block-end: 4%;
  margin-right: 5%;
 }
 .example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg(44 kB)(44 kB)');
  background-size: cover;
 }
 .matCard{
  height: 200px;
  width: 200px;
  margin-block-end: 10px;
  margin-right:10px;
  margin-block: 10px;
  background-color:rgb(156, 177, 240);
 }
 .cardGroup{
  display: flex;
  flex-flow: row wrap;
}
.cardGroup{
  display: flex;
  flex-flow: row wrap;
}
